<% layout("layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br>
        <h2>Edit Listing</h2>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
            
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" value="<%= listing.title %>">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Share about it</label>
                <textarea name="description" class="form-control" rows="3"><%= listing.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL/Link</label>
                <input type="text" name="image" class="form-control" value="<%= listing.image.url %>">
            </div>

            <!-- Price and Country in one row -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" value="<%= listing.price %>">
                </div>
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control" value="<%= listing.country %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="location" class="form-control" value="<%= listing.location %>">
            </div>

            <button class="btn btn-dark mt-3 add-btn">Save</button>
        </form>
    </div>
</div>
